@import "tailwindcss";

@theme {
  --font-Inter: var(--font-inter);
  --font-times: "Times New Roman", Times, serif;
}

@layer utilities {
  .font-Inter {
    font-family: var(--font-inter);
  }

  .font-times {
    font-family: "Times New Roman", Times, serif;
  }
}